<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
      <h3><%= title %></h3>
        <ul>
          <% cursor.forEach(function(cursor){ %>
            <li>
                <%= cursor.nome %> --> 
                <%= cursor.idade %> anos 
            </li>
          <% }) %>
        </ul>
          
          <form action="/inserir" method="POST">
            <p>Nome:<input type="text" name="nome"/></p>
            <p>Idade:<input type="number" name="idade" /></p>
            <input type="submit" value="Salvar" />
          </form>
          <h3>-------------------------------------------</h3>
          <form action="/deletar" method="POST">
            <a> Qual valor deseja Deletar ? </a>
            <p>Nome:<input type="text" name="nome" /></p>
            <input type="submit" value="Deletar" />
          </form>      
          <h3>-------------------------------------------</h3>
        <form action="/editar" method="POST">
          <a> Editar Valor ? </a>
          <p>Nome Atual:<input type="text" name="oldName" /></p>
          <p>Novo Novo :<input type="text" name="newName" /></p>
          <p>Idade:<input type="number" name="idade" /></p>
          <input type="submit" value="Salvar" />
        </form>
      
     
  </body>
</html>
